<!-- Contact Form -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-heading">Contact Direction Zorobabel</h1>
                <div class="section-description">
                    Veuillez completer le formulaire ci-dessous pour contact notre direction génerale,notre service est la pour repondre à toutes vos préoccupation?
                </div>
            </div>
        </div>
        <div class="row">
            <!--First column-->
            <div class="col-md-8 mb-r">
                <form>
                    <!--First row-->
                    <div class="row">
                        <!--First column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <div class="md-form">
                                    <input type="text" id="form41" class="form-control">
                                    <label for="form41" class="">Votre Nom</label>
                                </div>
                            </div>
                        </div>

                        <!--Second column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <div class="md-form">
                                    <input type="text" id="form52" class="form-control">
                                    <label for="form52" class="">Votre email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.First row-->

                    <!--Second row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" id="form51" class="form-control">
                                <label for="form51" class="">Object</label>
                            </div>
                        </div>
                    </div>
                    <!--/Second row-->

                    <!--Third row-->
                    <div class="row">
                        <!--First column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="form76" class="md-textarea"></textarea>
                                <label for="form76">Votre message</label>
                            </div>

                        </div>
                    </div>
                    <!--/.Third row-->
                </form>

                <div class="center-on-small-only">
                    <a class="btn btn-primary">Envoyer</a>
                </div>
            </div>
            <!--.First column-->

            <!--Second column-->
            <div class="col-md-4">
                <ul class="contact-icons">
                    <li><i class="fa fa-map-marker fa-2x"></i>
                        <p>LUBUMBASHI,ZOROBABEL 8,DRC</p>
                    </li>

                    <li><i class="fa fa-phone fa-2x"></i>
                        <p>+243 976322706</p>
                    </li>

                    <li><i class="fa fa-envelope fa-2x"></i>
                        <p>zorobabelboulangerie@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!--.Second column-->
        </div>
    </div>
</section>
<!-- /.Contact Form --