<section class="section">
    <div class="row">

        <div class="col-md-4 ">
            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Admin panel-->
                <div class="indigo-admin-panel">

                    <!--Second row-->
                    <div class="row m-b-0">
                        <!--First column-->
                        <div class="col-md-12">

                            <!--Panel content-->
                            <div class="card-block p-y-0">

                                <!--Table-->
                                <table class="table  table-hover cascading-table m-b-0">
                                    <!--Table head-->
                                    <thead class="table-inverse">
                                    <tr>
                                        <th>Boulengerie</th>
                                        <th>lieu</th>
                                        <th>stock</th>
                                        <th>etat</th>
                                    </tr>
                                    </thead>
                                    <!--/Table head-->

                                    <!--Table body-->
                                    <tbody>
                                    <tr class="none-top-border">
                                        <td>zorbabel</td>
                                        <td>lubumbashi</td>
                                        <td>2000</td>
                                        <td><strong class="tag big-tag green">1</strong></td>
                                    </tr>
                                    <tr class="none-top-border">
                                        <td>zorbabel</td>
                                        <td>golf</td>
                                        <td>2000</td>
                                        <td><strong class="tag big-tag green">1</strong></td>
                                    </tr>
                                    <tr class="none-top-border">
                                        <td>zorbabel</td>
                                        <td>kamalondo</td>
                                        <td>2000</td>
                                        <td><strong class="tag big-tag red">0</strong></td>
                                    </tr>
                                    <tr class="none-top-border">
                                        <td>zorbabel</td>
                                        <td>makutano</td>
                                        <td>2000</td>
                                        <td><strong class="tag big-tag red">0</strong></td>
                                    </tr>
                                    </tbody>
                                    <!--/Table body-->
                                </table>
                                <!--/Table-->

                            </div>
                            <!--/.Panel content-->

                        </div>
                        <!--/First column-->
                    </div>
                    <!--/Second row-->

                </div>
                <!--/Admin panel-->

            </div>
            <!--/.Card-->
        </div>
        <div class="col-md-8 ">
            <!--Card-->
            <div class="card card-cascade narrower z-depth-3">

                <!--Admin panel-->
                <div class="indigo-admin-panel">

                    <!--Second row-->
                    <div class="row m-b-0">
                        <!--First column-->
                        <div class="col-md-12">

                            <!--Panel content-->
                            <div class="card-block p-y-0">

                                <!--Table-->
                                <table class="table  table-hover cascading-table m-b-0">
                                    <!--Table head-->
                                    <thead class="table-inverse">
                                    <tr>
                                        <th>choix</th>
                                        <th>commande</th>
                                        <th>cuisson</th>
                                        <th>preparation</th>
                                        <th>livreur</th>
                                    </tr>
                                    </thead>
                                    <!--/Table head-->

                                    <!--Table body-->
                                    <tbody>
                                    <tr class="none-top-border">
                                        <td>
                                            <fieldset class="form-group">
                                                <input type="checkbox" id="checkbox1">
                                                <label for="checkbox1"></label>
                                            </fieldset>
                                        </td>
                                        <td><select class="mdb-select">
                                            <option value="" disabled selected>Choisir commande</option>
                                            <option value="1">baguette</option>
                                            <option value="2">croco</option>
                                            <option value="3">gateau sv</option>
                                        </select>
                                        </td>
                                        <td><select class="mdb-select">
                                            <option value="" disabled selected>duree</option>
                                            <option value="1">null</option>
                                            <option value="1">10 min</option>
                                            <option value="2">20 min</option>
                                            <option value="3">30 min</option>
                                            <option value="3">40 min</option>
                                            <option value="3">50 min</option>
                                        </select>
                                        </td>
                                        <td><select class="mdb-select">
                                            <option value="" disabled selected>duree</option>
                                            <option value="1">null</option>
                                            <option value="1">10 min</option>
                                            <option value="2">20 min</option>
                                            <option value="3">30 mim</option>
                                            <option value="3">40 min</option>
                                            <option value="3">50 mim</option>
                                        </select>
                                        </td>
                                        <td> <select class="mdb-select">
                                            <option value="" disabled selected>Choisir livreur</option>
                                            <option value="1">12zLv001</option>
                                            <option value="2">12zLv002</option>
                                            <option value="3">12zLv003</option>
                                            <option value="3">12zLv004</option>
                                            <option value="3">12zLv005</option>
                                        </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <!--/Table body-->
                                </table>
                                <!--/Table-->

                            </div>
                            <!--/.Panel content-->

                        </div>
                        <!--/First column-->
                    </div>
                    <!--/Second row-->

                </div>
                <!--/Admin panel-->

            </div>
            <!--/.Card-->
        </div>
        <div class="col-md-8 push-md-1">
            <!--Card-->
            <div class="card card-cascade narrower z-depth-3">

                <!--Admin panel-->
                <div class="indigo-admin-panel">

                    <!--Second row-->
                    <div class="row m-b-0">
                        <!--First column-->
                        <div class="col-md-12">

                            <!--Panel content-->
                            <div class="card-block p-y-0">

                                <!--Table-->
                                <table class="table  table-hover cascading-table m-b-0">
                                    <!--Table head-->
                                    <thead class="table-inverse">
                                    <tr>
                                        <th>livreur</th>
                                        <th>nom</th>
                                        <th>adresse</th>
                                        <th>etat</th>
                                        <th>tracking</th>
                                    </tr>
                                    </thead>
                                    <!--/Table head-->

                                    <!--Table body-->
                                    <tbody>
                                    <tr class="none-top-border">
                                        <td>12zLv003</td>
                                        <td>nestor</td>
                                        <td>12 av de chutte makutamo</td>
                                        <td><strong class="tag big-tag green">disponible</strong></td>
                                        <td><a class="li-ic">suivre</a></td>
                                    </tr>
                                    </tbody>
                                    <!--/Table body-->
                                </table>
                                <!--/Table-->

                            </div>
                            <!--/.Panel content-->

                        </div>
                        <!--/First column-->
                    </div>
                    <!--/Second row-->

                </div>
                <!--/Admin panel-->

            </div>
            <!--/.Card-->
        </div>
    </div>
    <!--/Second row-->

    <div class="container">
        <!--Second row-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <!--Card-->
                    <div class="card card-cascade narrower z-depth-3">

                        <!--Admin panel-->
                        <div class="indigo-admin-panel">

                            <!--Second row-->
                            <div class="row m-b-0">
                                <!--First column-->
                                <div class="col-md-4">

                                    <!--Panel content-->
                                    <div class="card-block p-y-0">
                                        <div class="btn btn-primary" data-toggle="modal" data-target="#modal-contact" >Ajouter Article</div>
                                    </div>
                                    <!--/.Panel content-->

                                </div>
                                <!--/First column-->
                            </div>
                            <!--/Second row-->

                        </div>
                        <!--/Admin panel-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <div class="col-md-8 ">
                <!--Card-->
                <div class="card card-cascade narrower z-depth-3">

                    <!--Admin panel-->
                    <div class="indigo-admin-panel">

                        <!--Second row-->
                        <div class="row m-b-0">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Panel content-->
                                <div class="card-block p-y-0">

                                    <!--Table-->
                                    <table class="table  table-hover cascading-table m-b-0">
                                        <!--Table head-->
                                        <thead class="table-inverse">
                                        <tr class="">
                                            <td>
                                            <th class="text-md-center">ID</th>
                                            <th class="text-md-center">IMAGE</th>
                                            <th class="text-md-center">DESIGNATION</th>
                                            <th class="text-md-center">PRIX</th>
                                            <th class="text-md-center">POIDS</th>
                                            <th class="text-md-center">DESCRIPTION</th>
                                            <th class="text-md-center">GARNITURE</th>
                                            <th class="text-md-center">TYPE</th>
                                            <th class="text-md-center">STOCK</th>
                                            <th class="text-md-center">BOULANGERIE</th>
                                            <th class="text-md-center">STATUS</th>
                                            <th class="text-md-center">DEL</th>
                                            <th class="text-md-center">MOD</th>

                                            </td>
                                        </tr>
                                        </thead>
                                        <!--/Table head-->

                                        <!--Table body-->
                                        <tbody>
                                        <tr ng-repeat="product in products " class="">
                                            <td>
                                            <th class="text-md-center">{{product.idProduit}}</th>
                                            <th class="text-md-center"><img src="asset/upload/{{product.image}}"  class="img-fluid"/></th>
                                            <th class="text-md-center">{{product.nom}}</th>
                                            <th class="text-md-center">{{product.prix}}</th>
                                            <th class="text-md-center">{{product.poids}}</th>
                                            <th class="text-md-center">{{product.description}}</th>
                                            <th class="text-md-center">{{product.garniture}}</th>
                                            <th class="text-md-center">{{product.typeproduit}}</th>
                                            <th class="text-md-center">{{product.stock}}</th>
                                            <th class="text-md-center">{{product.idBoulangerie}}</th>
                                            <th class="text-md-center">
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox1">
                                                    <label for="checkbox1"></label>
                                                </fieldset>
                                            </th>
                                            <th class="text-md-center"><a class="btn btn-comm red">X</a></th>
                                            <th class="text-md-center"><a class="btn btn-comm green">X</a></th>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <!--/Table body-->
                                    </table>
                                    <!--/Table-->

                                </div>
                                <!--/.Panel content-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/Second row-->

                    </div>
                    <!--/Admin panel-->

                </div>
                <!--/.Card-->
            </div>

        </div>

        <!--/Second row-->
    </div>
    <div class="container-fluid">
        <!--Second row-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <!--Card-->
                    <div class="card card-cascade narrower z-depth-3">

                        <!--Admin panel-->
                        <div class="indigo-admin-panel">

                            <!--Second row-->
                            <div class="row m-b-0">
                                <!--First column-->
                                <div class="col-md-4">

                                    <!--Panel content-->
                                    <div class="card-block p-y-0">
                                        <div class="btn btn-primary" data-toggle="modal" data-target="#modal-boulangerie" >Ajouter Boulangerie</div>
                                    </div>
                                    <!--/.Panel content-->

                                </div>
                                <!--/First column-->
                            </div>
                            <!--/Second row-->

                        </div>
                        <!--/Admin panel-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <div class="col-md-8 ">
                <!--Card-->
                <div class="card card-cascade narrower z-depth-3">

                    <!--Admin panel-->
                    <div class="indigo-admin-panel">

                        <!--Second row-->
                        <div class="row m-b-0">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Panel content-->
                                <div class="card-block p-y-0">

                                    <!--Table-->
                                    <table class="table  table-hover cascading-table m-b-0">
                                        <!--Table head-->
                                        <thead class="table-inverse">
                                        <tr class="">
                                            <td>
                                            <th class="text-md-center">ID</th>
                                            <th class="text-md-center">BOULANGERIE</th>
                                            <th class="text-md-center">COMMUNE</th>
                                            <th class="text-md-center">ADRESSE</th>
                                            <th class="text-md-center">Chef Boulangerie</th>
                                            <th class="text-md-center">DEL</th>
                                            <th class="text-md-center">MOD</th>

                                            </td>
                                        </tr>
                                        </thead>
                                        <!--/Table head-->

                                        <!--Table body-->
                                        <tbody>
                                        <tr ng-repeat="boulangerie in boulangeries" class="">
                                            <td>
                                            <th class="text-md-center">{{boulangerie.idBoulangerie}}</th>
                                            <th class="text-md-center">{{boulangerie.nomBoulangerie}}</th>
                                            <th class="text-md-center">{{boulangerie.communeBoulangerie}}</th>
                                            <th class="text-md-center">{{boulangerie.adresseBoulangerie}}</th>
                                            <th class="text-md-center">{{boulangerie.idchefBoulangerie}}</th>
                                            <th class="text-md-center"><a class="btn btn-comm red">X</a></th>
                                            <th class="text-md-center"><a class="btn btn-comm green">X</a></th>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <!--/Table body-->
                                    </table>
                                    <!--/Table-->

                                </div>
                                <!--/.Panel content-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/Second row-->

                    </div>
                    <!--/Admin panel-->

                </div>
                <!--/.Card-->
            </div>

        </div>

        <!--/Second row-->
    </div>
    <div class="container-fluid">
        <!--Second row-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <!--Card-->
                    <div class="card card-cascade narrower z-depth-3">

                        <!--Admin panel-->
                        <div class="indigo-admin-panel">

                            <!--Second row-->
                            <div class="row m-b-0">
                                <!--First column-->
                                <div class="col-md-4">

                                    <!--Panel content-->
                                    <div class="card-block p-y-0">
                                        <div class="btn btn-primary" data-toggle="modal" data-target="#modal-chef" >Ajouter Chef-Boulanger</div>
                                    </div>
                                    <!--/.Panel content-->

                                </div>
                                <!--/First column-->
                            </div>
                            <!--/Second row-->

                        </div>
                        <!--/Admin panel-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <div class="col-md-8 ">
                <!--Card-->
                <div class="card card-cascade narrower z-depth-3">

                    <!--Admin panel-->
                    <div class="indigo-admin-panel">

                        <!--Second row-->
                        <div class="row m-b-0">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Panel content-->
                                <div class="card-block p-y-0">

                                    <!--Table-->
                                    <table class="table  table-hover cascading-table m-b-0">
                                        <!--Table head-->
                                        <thead class="table-inverse">
                                        <tr class="">
                                            <td>
                                            <th class="text-md-center">ID</th>
                                            <th class="text-md-center">CHEF</th>
                                            <th class="text-md-center">EMAIL</th>
                                            <th class="text-md-center">PHONE</th>
                                            <th class="text-md-center">ADRESSE</th>
                                            <th class="text-md-center">USERNAME</th>
                                            <th class="text-md-center">PASSWORD</th>
                                            <th class="text-md-center">DEL</th>
                                            <th class="text-md-center">MOD</th>

                                            </td>
                                        </tr>
                                        </thead>
                                        <!--/Table head-->

                                        <!--Table body-->
                                        <tbody>
                                        <tr ng-repeat="chef in chefs" class="">
                                            <td>
                                            <th class="text-md-center">{{chef.idChef}}</th>
                                            <th class="text-md-center">{{chef.nomComplet}}</th>
                                            <th class="text-md-center">{{chef.email}}</th>
                                            <th class="text-md-center">{{chef.phone}}</th>
                                            <th class="text-md-center">{{chef.addresse}}</th>
                                            <th class="text-md-center">{{chef.username}}</th>
                                            <th class="text-md-center">{{chef.password}}</th>
                                            <th class="text-md-center"><a class="btn btn-comm red">X</a></th>
                                            <th class="text-md-center"><a class="btn btn-comm green">X</a></th>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <!--/Table body-->
                                    </table>
                                    <!--/Table-->

                                </div>
                                <!--/.Panel content-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/Second row-->

                    </div>
                    <!--/Admin panel-->

                </div>
                <!--/.Card-->
            </div>

        </div>

        <!--/Second row-->
    </div>
    <div class="container">
        <!--Second row-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <!--Card-->
                    <div class="card card-cascade narrower z-depth-3">

                        <!--Admin panel-->
                        <div class="indigo-admin-panel">

                            <!--Second row-->
                            <div class="row m-b-0">
                                <!--First column-->
                                <!--/First column-->
                            </div>
                            <!--/Second row-->

                        </div>
                        <!--/Admin panel-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <div class="col-md-8">
                <!--Card-->
                <div class="card card-cascade narrower z-depth-3">

                    <!--Admin panel-->
                    <div class="indigo-admin-panel">

                        <!--Second row-->
                        <div class="row m-b-0">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Panel content-->
                                <div class="card-block p-y-0">

                                    <!--Table-->
                                    <table class="table  table-hover cascading-table m-b-0">
                                        <!--Table head-->
                                        <thead class="table-inverse">
                                        <tr>
                                            <td>
                                            <th class="text-md-center">IDCLIENT</th>
                                            <th class="text-md-center">NOM COMPLET</th>
                                            <th class="text-md-center">EMAIL</th>
                                            <th class="text-md-center">PHONE</th>
                                            <th class="text-md-center">ADRESSE</th>
                                            <th class="text-md-center">LOGIN</th>
                                            <th class="text-md-center">PASSWORD</th>
                                            </td>
                                        </tr>
                                        </thead>
                                        <!--/Table head-->

                                        <!--Table body-->
                                        <tbody>
                                        <tr  ng-repeat="client in clients" class="">
                                            <td>
                                            <th class="text-md-center">{{client.idclient}}</th>
                                            <th class="text-md-center">{{client.nom_complet}}</th>
                                            <th class="text-md-center">{{client.email}}</th>
                                            <th class="text-md-center">{{client.phone}}</th>
                                            <th class="text-md-center">{{client.adresse}}</th>
                                            <th class="text-md-center">{{client.login}}</th>
                                            <th class="text-md-center">{{client.password}}</th>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <!--/Table body-->
                                    </table>
                                    <!--/Table-->

                                </div>
                                <!--/.Panel content-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/Second row-->

                    </div>
                    <!--/Admin panel-->

                </div>
                <!--/.Card-->
            </div>

        </div>

        <!--/Second row-->
    </div>
    <div class="container">
        <!--Second row-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <!--Card-->
                    <div class="card card-cascade narrower z-depth-3">

                        <!--Admin panel-->
                        <div class="indigo-admin-panel">

                            <!--Second row-->
                            <div class="row m-b-0">
                                <!--First column-->
                                <!--/First column-->
                            </div>
                            <!--/Second row-->

                        </div>
                        <!--/Admin panel-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <div class="col-md-8">
                <!--Card-->
                <div class="card card-cascade narrower z-depth-3">

                    <!--Admin panel-->
                    <div class="indigo-admin-panel">

                        <!--Second row-->
                        <div class="row m-b-0">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Panel content-->
                                <div class="card-block p-y-0">

                                    <!--Table-->
                                    <table class="table  table-hover cascading-table m-b-0">
                                        <!--Table head-->
                                        <thead class="table-inverse">
                                        <tr>
                                            <td>
                                            <th class="text-md-center">IDCOMMANDE</th>
                                            <th class="text-md-center">IDCLIENT</th>
                                            <th class="text-md-center">TOTAL_CMD</th>
                                            <th class="text-md-center">ADRESSE LIVRAISON</th>
                                            <th class="text-md-center">LATITUDE</th>
                                            <th class="text-md-center">LONGITUDE</th>
                                            <th class="text-md-center">ETAT_CMD</th>
                                            <th class="text-md-center">DATE_CMD</th>
                                            </td>
                                        </tr>
                                        </thead>
                                        <!--/Table head-->

                                        <!--Table body-->
                                        <tbody>
                                        <tr  ng-repeat="commande in commandes"class="">
                                            <td>
                                            <th class="text-md-center">{{commande.idCommande}}</th>
                                            <th class="text-md-center">{{commande.idClient}}</th>
                                            <th class="text-md-center">{{commande.total_cmd}}</th>
                                            <th class="text-md-center">{{commande.adresse_livraison}}</th>
                                            <th class="text-md-center">{{commande.latitude}}</th>
                                            <th class="text-md-center">{{commande.longitude}}</th>
                                            <th class="text-md-center">{{commande.etat_commande}}</th>
                                            <th class="text-md-center">{{commande.date_commande}}</th>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <!--/Table body-->
                                    </table>
                                    <!--/Table-->

                                </div>
                                <!--/.Panel content-->

                            </div>
                            <!--/First column-->
                        </div>
                        <!--/Second row-->

                    </div>
                    <!--/Admin panel-->

                </div>
                <!--/.Card-->
            </div>

        </div>

        <!--/Second row-->
    </div>

</section>
<!--/Section: Conditions-->
</div>
</section>
<!--/Section: Conditions-->
</div>
<!-- Modal Contact -->
<div class="modal fade modal-ext" id="modal-chef" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">CHEF</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="CHEF" class="form-control">
                    <label for="form42">CHEF</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="email" id="EMAIL" class="form-control">
                    <label for="form42">EMAIL</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="tel" id="PHONE" class="form-control">
                    <label for="form42">PHONE</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="ADRESSE" class="form-control">
                    <label for="form42">ADRESSE</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="USERNAME" class="form-control">
                    <label for="form42">USERNAME</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="PASSWORD" class="form-control">
                    <label for="form42">PASSWORD</label>
                </div>

                <div class="text-xs-center">
                    <button class="btn btn-primary">AJOUTER</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--/ Modal contact -->
</section>

<!-- Modal Contact -->
<div class="modal fade modal-ext" id="modal-boulangerie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">BOULANGERIE</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="col-md-5">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="number" id="id_chef" class="form-control">
                        <label for="form42">id_chef</label>
                    </div>
                </div>
                <br><br><br>

                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="BOULANGERIE" class="form-control">
                    <label for="form42">BOULANGERIE</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="COMMUNE" class="form-control">
                    <label for="form42">COMMUNE</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="ADRESSE" class="form-control">
                    <label for="form42">ADRESSE</label>
                </div>
                <div class="text-xs-center">
                    <button class="btn btn-primary">AJOUTER</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--/ Modal contact -->
</section>
<!--/Section: Conditions-->
<!-- Modal Contact -->
<div class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">ajouter article</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="col-md-5">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="product.idBoulangerie" type="number" id="id_boulangerie" class="form-control">
                        <label for="form42" >id_boulangerie</label>
                    </div>
                </div>
                <br><br><br>

                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input ng-model="product.nom" type="text" id="Designation_art" class="form-control">
                    <label for="form42">Designation</label>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="product.prix" type="number" id="Prix_art" class="form-control">
                        <label for="form42">Prix</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="product.poids"type="number" id="Prix_art" class="form-control">
                        <label for="form42">Poids</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="product.stock" type="number" id="Prix_art" class="form-control">
                        <label for="form42">Quantite</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="product.garniture" type="number" id="Garniture" class="form-control">
                        <label for="form42">Garniture</label>
                    </div>
                </div>
                <br><br><br>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input ng-model="product.desciption" type="text" id="Description_art" class="form-control">
                    <label for="form42">Description</label>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="product.typeproduit" type="text" id="Type_Produit" class="form-control">
                        <label for="form42">Type_Produit</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input  ng-model="product.image" type="text" id="Image_Prod" class="form-control">
                        <label for="form42">Image_Prod</label>
                    </div>
                </div>
                <div class="text-xs-center">
                    <button ng-click="saveProduct(product);"class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--/ Modal contact -->
</section>
<!--/Section: Conditions-->
</div>
</section>

