<section class="section">
    <div class="row">
        <div class="col-lg-3 col-md-6"></div>
        <!--Card-->
        <div class="col-lg-6 col-md-6">

            <!--Admin panel-->
            <div class="indigo-admin-panel">

                <!--Second row-->
                <div class="row m-b-0">
                    <!--First column-->
                    <div class="col-md-12">

                        <!--Panel content-->
                        <div class="card-block ">
                            <div class="container ">

                                <!--Naked Form-->
                                <div class="text-xs-center">
                                    <hr class="mt-2 mb-2">
                                </div>
                                <div class="card-block ">

                                    <!--Header--

                                    <!--Body-->
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="text" id="form2" class="form-control">
                                        <label for="form2">Your email</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="form4" class="form-control">
                                        <label for="form4">password</label>
                                    </div>

                                    <div class="text-xs-center">
                                         <a href="#/home_admin" >login</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--/.Panel content-->

                    </div>
                    <!--/First column-->
                </div>
                <!--/Second row-->

            </div>
            <!--/Admin panel-->
        </div>
    </div>



    <!--/.Card-->

</section>
